fastapi
uvicorn
elasticsearch[async]
python-dotenv
pydantic-settings
pandas
numpy
scikit-learn
pyod
torch
shap
langchain
sentence-transformers
transformers
mlflow
apscheduler
python-multipart
httpx
tenacity

pytest
pytest-asyncio
httpx
shap
